layout {

    gaps 8 // Gap between windows
    center-focused-column "never" // Don’t auto-center focused column
    always-center-single-column

    background-color "transparent" // <- needed for noctalia-shell to set wallpaper

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    struts {
        left 15
        right 15
    }

    focus-ring {
        on
        width 3
        active-gradient from="#4b749f" to="#595cff" angle=45
    }

    border {
        off
    }

    shadow {
        off
    }

    tab-indicator {
        on
        // hide-when-single-tab
        place-within-column
        gap 7
        width 4
        length total-proportion=0.4
        position "left"
        gaps-between-tabs 6
        corner-radius 8
        active-color "#ED3D31"
        inactive-color "gray"
        urgent-color "#3CFF00"
        // active-gradient from="#e62314" to="#bbddff" angle=180
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        // urgent-gradient from="#800" to="#a33" angle=45
    }

    insert-hint {
        on
        color "#4b749f"
    }

}
